.contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 144px 250px;
  background: url(../imgs/fundo-contatos.png) 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.contatos h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 55px;
  font-weight: 700;
  color: #1cbc64;
}
.contatos h3 {
  margin-top: 65px;
}
.contatos h3 a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  background-color: #fbae39;
  font-size: 25px;
  padding: 16px 40px;
  border-radius: 35px;
  border: 3px solid #fbae39;
  transition: 0.3s ease-in-out;
}
.contatos h3 a:hover {
  color: #fbae39;
  background-color: #f1f1f100;
  border: 3px solid #fbae39;
}
.contatos p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #f1f1f1;
}
section.module.parallax {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
section.module.parallax-1 {
  background: url(../imgs/fundo-contatos.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
footer {
  width: 100%;
}
.container-footer {
  margin: 80px auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  gap: 126px;
}
.container-contatos-footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.img-footer img {
  margin-right: 25px;
}
.email-phone {
  padding: 0 22px 0;
  display: flex;
  align-items: center;
  font-family: Poppins;
  gap: 20px;
}
.email-phone p {
  color: #1dc468;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.email-phone i {
  font-size: 35px;
  color: #faa833;
}
.home-footer {
  display: flex;
  gap: 112px;
}
.home-footer h2 {
  color: #1dc468;
  font-family: Roboto Condensed;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.redes-sociais {
  display: flex;
  flex-direction: column;
}
.icon-sociais i {
  padding: 20px 20px 20px 5px;
  color: #faa833;
  font-size: 45px;
  font-weight: 600;
}
.srv-item {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.srv-item p {
  text-align: center;
  color: #1dc468;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 30px;
  border-radius: 30px;
  border: 2px solid #1dc468;
}

.direitos {
  padding: 40px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: 1px solid;
  border-color: #f9a530 #f1f1f1 #f1f1f1 #f1f1f1;
  width: 100%;
  text-align: center;
}
.direitos h2 {
  font-weight: 400;
  color: #1dc468;
  font-size: 18px;
}
.direitos h3 {
  font-size: 18px;
  font-weight: 400;
  color: #dbaf40;
}

@media (max-width: 1024px) {
  .contatos h2 {
    text-align: center;
    font-size: 44px;
  }
  .contatos h3 {
    margin-top: 35px;
    font-size: 20px;
  }
  .contatos p {
    font-size: 17px;
  }
  .container-footer {
    margin: 80px 20px;
    display: flex;
    gap: 100px;
  }
  .home-footer {
    display: flex;
    gap: 52px;
  }
  .home-footer h2 {
    font-size: 18.104px;
  }
  .img-footer img {
    width: 150px;
  }
  .email-phone {
    gap: 10px;
  }
  .email-phone p {
    font-size: 17.61px;
  }
  .email-phone i {
    font-size: 24px;
  }
  .contatos h2 {
    font-size: 30px;
  }
  .contatos h3 {
    margin-top: 50px;
  }
  .contatos h3 a {
    font-size:20px;
  }
  .contatos p {
    font-size:17px;
  }

  .home-footer h2 {
    font-size: 15.104px;
  }
  .redes-sociais {
    display: flex;
    flex-direction: column;
  }
  .icon-sociais i {
    font-size:  27.188px;
    font-weight: 400;
  }
  .srv-item {
    width: 194px;
  }
  .srv-item p {
    font-size: 12.427px;
    padding: 5px 10px;
    border-radius: 30px;
    border: 2px solid #1dc468;
  }
  .icon-sociais i {
    font-size:  35.188px;
    font-weight: 400;
  }
  .direitos {
    padding: 30px;
  }
  .direitos h2 {
    font-size: 14px;
  }
  .direitos h3 {
    font-size: 14px;
  }
}

@media (max-width: 720px) {
  .contatos {
    padding: 60px 0;
    background: url(../imgs/fundo-contatos.png) 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contatos h2 {
    font-size: 22.256px;
  }
  .contatos h3 a {
    margin-top: 50px;
    font-size: 15.996px;
    padding: 10px 40px;
  }
  .contatos p {
    font-size: 13px;
  }
  .container-footer {
    margin: 80px 20px;
    width: 89%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .home-footer {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 52px;
  }
  .container-contatos-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .img-footer img {
    width: 125px;
    margin-bottom: 25px;
  }
  .email-phone {
    gap: 10px;
  }
  .email-phone p {
    font-size: 10.61px;
  }
  .email-phone i {
    font-size: 24px;
  }

  .home-footer h2 {
    font-size: 15.104px;
  }
  .redes-sociais {
    display: flex;
    flex-direction: column;
  }
  .icon-sociais i {
    font-size:  27.188px;
    font-weight: 400;
  }
  .srv-item {
    width: 194px;
  }
  .srv-item p {
    font-size: 12.427px;
    padding: 5px 10px;
    border-radius: 30px;
    border: 2px solid #1dc468;
  }
}
