.header {
  position: fixed;
  background-color: #ffffff8a;
  backdrop-filter: blur(7px);
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom:solid 2px #1dc066;
}
.header-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.header-container .navegation {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
}
.header-container .navegation a {
  color: #1dc066;
  font-family: Roboto Condensed;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#btn-menu {
  margin-left: 32px;
  color: #fff;
  padding: 11px 25px;
  font-style: normal;
  font-weight: 700;
  border-radius: 12px;
  font-family: Roboto Condensed;
  background: #1dc066;
}
.menu-mobile {
  display: none;
}
.navegation-mobile{
  display: none;
}

@media (max-width: 1130px) {
  .header-container .navegation {
    gap: 25px;
  }
}
@media (max-width: 950px) {
  .menu {
    display: none;
  }
  .logo {
    width: 73px;
  }
  .menu-mobile {
    display: block;
  }
  .navegation-mobile.selecionado {
    position: absolute;
    width: 100%;
    background-color: #8e1f1f;
    min-height: calc(100vh - 100.73px);
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 19% 0 0 20px ;
    top: 100.73px;
    left: 0;
    animation: opacity 0.5s ease-in-out;
  } 
  @keyframes opacity {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    } 
  }
  .navegation-mobile li{
    margin-top: 40px; 
  }
  .navegation-mobile li a {
    color: #1cbc64;
    font-family: Roboto Condensed;
    font-size: 32.914px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .center {
    cursor: pointer;
    width: 30px;
    display: block;
  }
  .center:before,
  .center:after,
  .center div {
    background: #ffd242;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }

  .center.selecionado:before {
    transform: translateY(8.5px) rotate(135deg);
  }

  .center.selecionado:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .center.selecionado div {
    transform: scale(0);
  }
  
}