@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* font-family: 'Roboto Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}
ul li{
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }