.service {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.container-service {
  max-width: 1440px;
  display: flex;
  text-align: center;
  justify-items: center;
  flex-direction: column;
}
.service .title h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #1cbc64;
  margin-bottom: 15px;
}
.service .title h2 span {
  background-color: #f9a530;
  color: #f1f1f1;
  padding: 0 6px 0 6px;
}
.service .title p {
  line-height: 24px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #a7a7a7;
}
.service .title p span {
  color: #f9a530;
}
.card-service {
  margin: 17px 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 17px;
  padding: 40px 60px;
  background-color: #f1f1f1;
  width: 25%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card-service img {
  border-radius: 110px;
  width: 150px;
}
.card-service h3 {
  margin: 30px 0px 15px 0px;
  color: #00954e;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 20.45px;
}
.card-service p {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  color: #00954e;
  font-weight: 400;
  font-size: 17.48px;
}
.container-card {
  margin: 110px 0;
  display: flex;
  justify-content: space-around;
}
.linha-card {
  background-color: #00954e;
  padding: 2px;
  width: 82px;
}
.service h4 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-buttom-servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service h4 a {
  margin: 40px 0;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 12px;
  background-color: #1cbc64;
  border: 3px solid #1cbc64;
  padding: 15px 55px;
  transition: 0.3s ease-in-out;
}
.service h4 a:hover {
  color: #1cbc64;
  border: 3px solid #1cbc64;
  background-color: #f1f1f1;
}



@media (max-width:1225px) {
  .service .title h2 {
    font-size: 44px;
  }
  .service .title p {
    line-height: 24px;
    font-size: 16px;
  }
  .service .title p span {
    color: #f9a530;
  }
  .container-card {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .card-service {
    padding: 29px 19px;
  }
  .card-service img {
    border-radius: 110px;
    width: 110px;
  }
  .card-service h3 {
    font-size: 19.45px;
  }
  .card-service p {
    font-size: 13.48px;
  }
  .service h4 a{
    font-size: 17px;
    padding: 15px 30px;
  }
}

@media (max-width: 720px) {
  .service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }
  .container-service {
    width: 320px;
    display: flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
  }
  .service .title h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 26.965px;
    color: #1cbc64;
    margin: 100px 0px 15px 0;
  }
  .service .title p {
    line-height: 18px;
    font-size: 10.786px;
    font-family: "Poppins", sans-serif;
    color: #a7a7a7;
  }

  #container-buttom-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-service {
    margin: 17px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 40px;
    background-color: #f1f1f1;
    width: 235px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .card-service img {
    border-radius: 110px;
    width: 77.023px;
  }
  .card-service h3 {
    margin: 30px 0px 15px 0px;
    color: #00954e;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 12.998px;
  }
  .card-service p {
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    color: #00954e;
    font-weight: 400;
    font-size: 10.591px;
  }
  .container-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service h4 a {
    padding: 14px 19px;
    font-size: 10.421px;
  }
}
