body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh + 100px);
}
.container-home {
  width: 1440px;
  display: flex;
  justify-content: center;
  gap: 107px;
  align-items: center;
}
.home .container-home .intro {
  width: 469px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.titulo-home{
  width: 400px;
}
.intro h1 {
  font-size: 55.66px;
  font-weight: 700;
  color: #ffffff;
  background-color: #0b9453;
}
.intro h2 {
  font-weight: 700;
  font-size: 55.66px;
  color: #0b9453;
}
.intro p {
  font-weight: 400;
  color: #999999;
  font-size: 22px;
}
.container-home .intro p span {
  color: #1dc066;
}
.intro h3 a{
  color: #ffffff;
  font-size: 22px;
  border-radius: 12px;
  text-align: center;
  background-color: #1dc066;
  border: solid 2px #1cbc64;
  padding: 20px 40px;
  transition: 0.4s ease-in-out;
}
.intro a:hover {
  color: #1dc066;
  background-color: #ffffff;
  border: solid 2px #1cbc64;
}



.quem-somos{
  margin: 100px auto;
  max-width: 100%;
}
.container-quem-somos{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  gap: 163px;
}
.content{
  text-align: start;
  width: 596px;
}
.quem-somos h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #1cbc64;
}
.quem-somos p {
  color: #838383;
  margin: 35px 1px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.quem-somos h3{
  margin-top: 70px;
}
.quem-somos h3 a{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1cbc64;
  font-size: 25.5px;
  border-radius: 12px;
  text-align: center;
  background-color: #f1f1f1;
  border: solid #1cbc64;
  padding: 15px 25px;
  transition: 0.3s ease-in-out;
  width: 530px;
}
.quem-somos h3 a:hover {
  color: #ffffff;
  background-color: #faaa35;
  border: solid #faaa35;
}
.quem-somos h4 {
  color: #faaa35;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
}


.projetos {
 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text-projetos {
  text-align: center;
}
.projetos h2 {
  margin: 150px 0px 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #1cbc64;
}
.projetos span {
  padding: 5px;
  color: #f1f1f1;
  background-color: #1cbc64;
}
.projetos p {
  color: #a7a7a7;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.projetos p strong {
  font-weight: 400;
  color: #1cbc64;
}

.service {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.container-service {
  max-width: 1440px;
  display: flex;
  text-align: center;
  justify-items: center;
  flex-direction: column;
}
.service .title h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #1cbc64;
  margin: 100px 0px 15px 0;
}
.service .title h2 span {
  background-color: #f9a530;
  color: #f1f1f1;
  padding: 0 6px 0 6px;
}
.service .title p {
  line-height: 24px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #a7a7a7;
}
.service .title p span {
  color: #f9a530;
}
.card-service {
  margin: 17px 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 17px;
  padding: 40px 60px;
  background-color: #F1F1F1;
  width: 25%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card-service img {
  border-radius: 110px;
  width: 150px;
}
.card-service h3 {
  margin: 30px 0px 15px 0px;
  color: #00954E;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 20.45px;
}
.card-service p {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  color: #00954E;
  font-weight: 400;
  font-size: 17.48px;
}
.container-card {
  margin: 110px 0;
  display: flex;
  justify-content: space-around;
}
.linha-card {
  background-color: #00954E;
  padding: 2px;
  width: 82px;
}
.service h4{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-buttom-servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service h4 a{
  margin: 40px 0;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 12px;
  background-color: #1cbc64;
  border: 3px solid #1cbc64;
  padding: 15px 55px;
  transition: 0.3s ease-in-out;
}
.service h4 a:hover {
  color: #1cbc64;
  border: 3px solid #1cbc64;
  background-color: #f1f1f1;
}

.contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 144px 250px;
  background: url(../imgs/fundo-contatos.png) 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.contatos h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 55px;
  font-weight: 700;
  color: #1cbc64;
}
.contatos h3{
  margin-top: 65px;
}
.contatos h3 a{
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  background-color: #fbae39;
  font-size: 25px;
  padding: 16px 40px;
  border-radius: 35px;
  border: 3px solid #fbae39;
  transition: 0.3s ease-in-out;
}
.contatos h3 a:hover {
  color: #fbae39;
  background-color: #f1f1f100;
  border: 3px solid #fbae39;
}
.contatos p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #f1f1f1;
}
section.module.parallax {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
section.module.parallax-1 {
  background: url(../imgs/fundo-contatos.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-footer {
  padding: 120px 0;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}
.img-footer img {
  margin-bottom: 25px;
}
.email-phone {
  display: flex;
  gap: 15px;
  padding: 25px;
}
.email-phone p {
  font-size: 22px;
  color: #1dc468;
  font-family: "Poppins", sans-serif;
}
.icon {
  font-weight: 400;
  color: #faaa35;
  font-size: 35px;
}
.home-footer {
  margin-top: 17px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.home-footer h2 {
  color: #1dc468;
  font-size: 25px;
  font-family: Roboto Condensed;
  font-weight: 700;
}
.icon-sociais i {
  font-size: 45px;
  padding: 20px;
}
.srv-item {
  text-align: center;
}
.srv-item p {
  margin: 26px 0;
  color: #1dc468;
  font-size: 18px;
  font-family: Poppins;
  border-radius: 30px;
  padding: 5px 26px;
  border: 2px solid #1dc468;
}
.direitos {
  padding: 40px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: 1px solid;
  border-color: #f9a530 #f1f1f1 #f1f1f1 #f1f1f1;
  width: 100%;
  text-align: center;
}
.direitos h2 {
  font-weight: 400;
  color: #1dc468;
  font-size: 18px;
}
.direitos h3 {
  font-size: 18px;
  font-weight: 400;
  color: #dbaf40;
}
