
header{
    background-color: #ffffff54;
    backdrop-filter: blur(7px); 
    position: fixed;
    width: 100%;
    z-index: 100;

}

.menu{
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

header h2{
    color: #FFFFFF;
    background-color: #1DC066;
    border-radius: 10px;
    font-size: 18px;
    padding: 7px 29px;
    border:solid 1px #1CBC64;
    transition: 0.3s ease-in-out;
}
header h2:hover{
    color: #1DC066;
    background-color: #FFFFFF;
    border:solid 1px #1CBC64;
}
.logo img{
    width: 100px;
}
.links{
    display: flex;
    align-items: center;
    gap: 50px;
}
nav ul{
    display: flex;
    gap: 25px;
}
nav ul li{
    color: #1DC066;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}
nav ul li:hover{
    color:#FBAE39;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: calc(100vh + 122px);
    position: relative;
}
.container-home{
    width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home .container-home .intro{
    font-family: 'Poppins', sans-serif;
    width: 469px;
}
.img-home img{
    width: 100%;
}
.intro h1{
    width: 395px;
    font-size: 55.66px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #0B9453;
}
.intro h2{
    font-size: 55.66px;
    color: #0B9453;
}
.intro p{
    color:#999999;
    margin: 30px 1px; 
    font-size: 22px;
}
.intro p span{
    color: #1DC066;
}
.intro h3{
    color: #FFFFFF;
    font-size: 22px;
    border-radius: 12px;
    text-align: center;
    background-color: #1DC066;
    border:solid #1CBC64;
    padding: 20px 40px;
    transition: 0.3s ease-in-out;

}
.intro h3:hover{
    color: #1DC066;
    background-color: #FFFFFF;
    border:solid #1CBC64;
}
.quem-somos{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #F1F1F1;
}
.quem-somos h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #1CBC64;
}
.quem-somos p{
    color:#838383;
    margin: 35px 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.quem-somos h3{
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #1CBC64;
    font-size: 25.5px;
    border-radius: 12px;
    text-align: center;
    background-color: #F1F1F1;
    border:solid #1CBC64;
    padding: 15px 25px;
    transition: 0.3s ease-in-out;
    width: 530px;

}
.quem-somos h3:hover{
    color: #FFFFFF;
    background-color: #FAAA35;
    border:solid #FAAA35;
}
.quem-somos h4{
    color: #FAAA35;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.container-quem-somos{
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-quem-somos img{
    width: 100%;
}
.apresentacao{
    width: 42%;
}
.projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.text-projetos{
    text-align: center;
}
.projetos h2{
    margin: 150px 0px 20px ;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #1CBC64;
}
.projetos span{
    padding: 5px;
    color: #F1F1F1;
    background-color: #1CBC64;
}
.projetos p{
    color: #A7A7A7;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.projetos p strong{
    font-weight: 400;
    color: #1CBC64;
}

.service{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.container-service{ 
    width: 1440px;
    display: flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
}
.service .title h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #1CBC64;
    margin: 100px 0px 15px 0;
}
.service .title h2 span{        
    background-color: #F9A530;
    color: #F1F1F1;
    padding: 0 6px 0 6px;
}
.service .title p{
    line-height: 24px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #A7A7A7;
}
.service .title p span{
    color: #F9A530;
}
.card-service{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 17px;
    padding: 60px 50px;
    background-color: #F9A530;
    width: 25%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
}
.card-service img{
    border-radius: 110px;
    width: 150px;
}
.card-service h3{
    margin: 30px 10px 15px 10px ;
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 20.45px; 
}
.card-service p{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 17.48px;
}
.container-card{
    margin-top: 110px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-around;
}
.linha-card{
    background-color: #FFFFFF;
    padding: 2px;
    width: 82px;
}
.service h4{
    margin: 25px 30px 100px 30px ;
    color: #F1F1F1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    border-radius: 12px;
    width: 450px;
    background-color: #1CBC64;
    border: 3px solid #1CBC64;
    padding: 15px 30px;
    transition: 0.3s ease-in-out;
}
.service h4:hover{
    color: #1CBC64;
    border: 3px solid #1CBC64;
    background-color: #F1F1F1;
    
}
#container-buttom-serviços{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contatos{
    display: flex;
    align-items: center;
    padding: 144px 250px;
    background:url(../imgs/fundo-contatos.png) 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1000px;
}
.contatos h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: #1CBC64;
}
.contatos h3{
    margin-top: 50px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-color: #FBAE39;
    font-size: 25px;
    padding: 16px  40px;
    border-radius: 35px;
    border: 3px solid #FBAE39 ;
    transition: 0.3s ease-in-out;
    
}
.contatos h3:hover{
    color: #FBAE39;
    background-color: #f1f1f100;
    border:3px solid #FBAE39;
}
.contatos p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #F1F1F1;
}
section.module.parallax{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
section.module.parallax-1{
    background:url(../imgs/fundo-contatos.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

